Lab-rem-Fisica.json
[
    {
        "id": "947c53d08c93935d",
        "type": "tab",
        "label": "Física",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "13bee6e068011382",
        "type": "tab",
        "label": "Telecom",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9566b74c0c9caab7",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "dark"
            }
        },
        "site": {
            "name": "Laboratorios Remotos FACET",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "fba5dd2093002ecd",
        "type": "ui_group",
        "name": "Parametros-con",
        "tab": "d63cc88c7a46605e",
        "order": 5,
        "disp": true,
        "width": "13",
        "collapse": false
    },
    {
        "id": "a8693af1ed732ccd",
        "type": "ui_group",
        "name": "Funciones",
        "tab": "d63cc88c7a46605e",
        "order": 8,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c83e16537c45f368",
        "type": "ui_group",
        "name": "Consola",
        "tab": "d63cc88c7a46605e",
        "order": 7,
        "disp": true,
        "width": "13",
        "collapse": false
    },
    {
        "id": "a4c87799322f977e",
        "type": "ui_group",
        "name": "Convergente",
        "tab": "d63cc88c7a46605e",
        "order": 4,
        "disp": false,
        "width": "17",
        "collapse": false
    },
    {
        "id": "448272e145e46a81",
        "type": "ui_group",
        "name": "Divergente",
        "tab": "d63cc88c7a46605e",
        "order": 3,
        "disp": false,
        "width": "17",
        "collapse": false
    },
    {
        "id": "1da480d9eb9773f1",
        "type": "ui_group",
        "name": "Mode",
        "tab": "d63cc88c7a46605e",
        "order": 1,
        "disp": false,
        "width": "17",
        "collapse": false
    },
    {
        "id": "69d766c4475badde",
        "type": "ui_group",
        "name": "Parametros-div",
        "tab": "d63cc88c7a46605e",
        "order": 6,
        "disp": true,
        "width": "13",
        "collapse": false
    },
    {
        "id": "6ca12bd8aeff9f61",
        "type": "ui_group",
        "name": "Camara",
        "tab": "d63cc88c7a46605e",
        "order": 2,
        "disp": false,
        "width": "17",
        "collapse": false
    },
    {
        "id": "6e1ba2a8a3b06598",
        "type": "ui_group",
        "d": true,
        "name": "Tipo de laboratorio",
        "tab": "79df9895b93dfccd",
        "order": 2,
        "disp": false,
        "width": "17",
        "collapse": false
    },
    {
        "id": "d129e0a0dad3a8d1",
        "type": "ui_group",
        "name": "Visualización",
        "tab": "79df9895b93dfccd",
        "order": 1,
        "disp": false,
        "width": "17",
        "collapse": false
    },
    {
        "id": "d828ae6182d713dd",
        "type": "ui_group",
        "name": "Parámetros",
        "tab": "79df9895b93dfccd",
        "order": 5,
        "disp": true,
        "width": "13",
        "collapse": false
    },
    {
        "id": "544bd628b7ddfc1a",
        "type": "ui_group",
        "name": "Panel de control",
        "tab": "79df9895b93dfccd",
        "order": 6,
        "disp": true,
        "width": "13",
        "collapse": false
    },
    {
        "id": "f5dc0d469bcfeca8",
        "type": "ui_group",
        "name": "Esquema",
        "tab": "79df9895b93dfccd",
        "order": 3,
        "disp": false,
        "width": "17",
        "collapse": false
    },
    {
        "id": "692aca9c657c5110",
        "type": "ui_group",
        "name": "Camara",
        "tab": "79df9895b93dfccd",
        "order": 4,
        "disp": false,
        "width": "17",
        "collapse": false
    },
    {
        "id": "639dd087c5e0e001",
        "type": "ui_spacer",
        "z": "13bee6e068011382",
        "name": "spacer",
        "group": "d129e0a0dad3a8d1",
        "order": 3,
        "width": 4,
        "height": 1
    },
    {
        "id": "41b256133d1d4d16",
        "type": "ui_spacer",
        "z": "13bee6e068011382",
        "name": "spacer",
        "group": "6e1ba2a8a3b06598",
        "order": 2,
        "width": 4,
        "height": 1
    },
    {
        "id": "d63cc88c7a46605e",
        "type": "ui_tab",
        "name": "Fisica",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "79df9895b93dfccd",
        "type": "ui_tab",
        "name": "Telecomunicaciones",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "efd13553b0aa5b2e",
        "type": "function",
        "z": "947c53d08c93935d",
        "name": "function 8",
        "func": "flow.set(\"diafragma\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "a88de484545e2925",
        "type": "ui_button",
        "z": "947c53d08c93935d",
        "name": "",
        "group": "c83e16537c45f368",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "POST",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-share",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 540,
        "wires": [
            [
                "603d6db56b960faf"
            ]
        ]
    },
    {
        "id": "603d6db56b960faf",
        "type": "function",
        "z": "947c53d08c93935d",
        "name": "function 9",
        "func": "let diafragma = flow.get(\"diafragma\");\nlet dist_FL1 =flow.get(\"dist_FL1\");\nlet dist_L2P = flow.get(\"dist_L2P\");\nlet dist_L1L2 = flow.get(\"dist_L1L2\");\nmsg.payload = \"POST /HTTP/1.1 { \\\"Estado\\\": [3,true,true],\\\"Analogico\\\": [\" + diafragma + \",\" + dist_FL1 + \",\" + dist_L2P +\",\"+dist_L1L2+ \"]} \"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 560,
        "wires": [
            [
                "0f6fb69baec06325",
                "b280855b7e4a2022",
                "8c5ab0ed98e9a674"
            ]
        ]
    },
    {
        "id": "0f6fb69baec06325",
        "type": "debug",
        "z": "947c53d08c93935d",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 560,
        "wires": []
    },
    {
        "id": "206a33669903f949",
        "type": "ui_numeric",
        "z": "947c53d08c93935d",
        "name": "",
        "label": "Fuente-Lente",
        "tooltip": "",
        "group": "fba5dd2093002ecd",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "20",
        "max": "978",
        "step": "5",
        "x": 230,
        "y": 340,
        "wires": [
            [
                "f20a68dde747ea0e"
            ]
        ]
    },
    {
        "id": "877e1cccb4975722",
        "type": "ui_numeric",
        "z": "947c53d08c93935d",
        "name": "",
        "label": "Lente-Pantalla",
        "tooltip": "",
        "group": "fba5dd2093002ecd",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "70",
        "max": "970",
        "step": "5",
        "x": 220,
        "y": 440,
        "wires": [
            [
                "6927ba3c37b4e011"
            ]
        ]
    },
    {
        "id": "f20a68dde747ea0e",
        "type": "function",
        "z": "947c53d08c93935d",
        "name": "function 10",
        "func": "flow.set(\"dist_FL1\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "6927ba3c37b4e011",
        "type": "function",
        "z": "947c53d08c93935d",
        "name": "function 11",
        "func": "flow.set(\"dist_L2P\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 410,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "b280855b7e4a2022",
        "type": "ui_template",
        "z": "947c53d08c93935d",
        "group": "c83e16537c45f368",
        "name": "Envio",
        "order": 1,
        "width": 13,
        "height": 3,
        "format": "<ul>\n<h1> Envio: </h1>\n        <li>{{msg.payload}}</li>\n      \n</ul>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 750,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "7c2b696908a4bad6",
        "type": "function",
        "z": "947c53d08c93935d",
        "name": "function 12",
        "func": "msg.payload =\"GET /HTTP/1.1\"\n//msg.payload = \"GET / HTTP/1.1\\r\\n\\r\\nHOST: www.google.com\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 660,
        "wires": [
            [
                "0f6fb69baec06325",
                "b280855b7e4a2022",
                "8c5ab0ed98e9a674"
            ]
        ]
    },
    {
        "id": "9e42624c3b6133b5",
        "type": "ui_button",
        "z": "947c53d08c93935d",
        "name": "",
        "group": "c83e16537c45f368",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "GET",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-reply",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 640,
        "wires": [
            [
                "7c2b696908a4bad6"
            ]
        ]
    },
    {
        "id": "8c5ab0ed98e9a674",
        "type": "tcp request",
        "z": "947c53d08c93935d",
        "name": "",
        "server": "127.0.0.1",
        "port": "80",
        "out": "time",
        "ret": "buffer",
        "splitc": "1000",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 780,
        "y": 660,
        "wires": [
            [
                "9fa8541705b2378e"
            ]
        ]
    },
    {
        "id": "b19a6bb30dcbaeae",
        "type": "debug",
        "z": "947c53d08c93935d",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 660,
        "wires": []
    },
    {
        "id": "9fa8541705b2378e",
        "type": "function",
        "z": "947c53d08c93935d",
        "name": "function 13",
        "func": "msg.payload = msg.payload.toString('utf8');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 660,
        "wires": [
            [
                "b19a6bb30dcbaeae",
                "75acf3a9c96254f9"
            ]
        ]
    },
    {
        "id": "75acf3a9c96254f9",
        "type": "ui_template",
        "z": "947c53d08c93935d",
        "group": "c83e16537c45f368",
        "name": "Recibe",
        "order": 2,
        "width": 13,
        "height": 3,
        "format": "<ul>\n<h1> Recibe: </h1>\n        <li>{{msg.payload}}</li>\n      \n</ul>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 1200,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "235c43f3078fa830",
        "type": "ui_button",
        "z": "947c53d08c93935d",
        "name": "",
        "group": "1da480d9eb9773f1",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Convergente",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"group\":{\"show\":[\"Fisica_Mode\",\"Fisica_Funciones\",\"Fisica_Parametros-con\",\"Fisica_Consola\",\"Fisica_Convergente\",\"Fisica_Camara\"],\"hide\":[\"Fisica_Divergente\",\"Fisica_Parametros-div\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 960,
        "wires": [
            [
                "dc0905424c5f85c3"
            ]
        ]
    },
    {
        "id": "8c2a4d11eb1bab53",
        "type": "ui_button",
        "z": "947c53d08c93935d",
        "name": "",
        "group": "1da480d9eb9773f1",
        "order": 2,
        "width": 7,
        "height": 1,
        "passthru": false,
        "label": "Divergente",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"group\":{\"show\":[\"Fisica_Mode\",\"Fisica_Funciones\",\"Fisica_Parametros-div\",\"Fisica_Consola\",\"Fisica_Divergente\",\"Fisica_Camara\"],\"hide\":[\"Fisica_Convergente\",\"Fisica_Parametros-con\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 1000,
        "wires": [
            [
                "dc0905424c5f85c3"
            ]
        ]
    },
    {
        "id": "4202cf58e4a226ac",
        "type": "inject",
        "z": "947c53d08c93935d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 680,
        "wires": [
            [
                "7c2b696908a4bad6"
            ]
        ]
    },
    {
        "id": "9c930a031501570f",
        "type": "inject",
        "z": "947c53d08c93935d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 580,
        "wires": [
            [
                "603d6db56b960faf"
            ]
        ]
    },
    {
        "id": "0d040f95af8493a4",
        "type": "function",
        "z": "947c53d08c93935d",
        "name": "function 14",
        "func": "flow.set(\"diafragma\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "6d55f6146625971a",
        "type": "ui_numeric",
        "z": "947c53d08c93935d",
        "name": "",
        "label": "Fuente - Lente 1",
        "tooltip": "",
        "group": "69d766c4475badde",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "120",
        "max": "970",
        "step": "5",
        "x": 920,
        "y": 300,
        "wires": [
            [
                "e29df26c29eda16c"
            ]
        ]
    },
    {
        "id": "90c2b517067312b3",
        "type": "ui_numeric",
        "z": "947c53d08c93935d",
        "name": "",
        "label": "Lente 2 - Pantalla",
        "tooltip": "",
        "group": "69d766c4475badde",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "70",
        "max": "970",
        "step": "5",
        "x": 910,
        "y": 420,
        "wires": [
            [
                "3be4323950da21b8"
            ]
        ]
    },
    {
        "id": "e29df26c29eda16c",
        "type": "function",
        "z": "947c53d08c93935d",
        "name": "function 15",
        "func": "flow.set(\"dist_FL1\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "3be4323950da21b8",
        "type": "function",
        "z": "947c53d08c93935d",
        "name": "function 16",
        "func": "flow.set(\"dist_L2P\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "cc94200e4e50ef33",
        "type": "ui_numeric",
        "z": "947c53d08c93935d",
        "name": "",
        "label": "Lente 1 - Lente 2",
        "tooltip": "",
        "group": "69d766c4475badde",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "120",
        "max": "970",
        "step": "5",
        "x": 910,
        "y": 360,
        "wires": [
            [
                "c16e541a867f46ad"
            ]
        ]
    },
    {
        "id": "c16e541a867f46ad",
        "type": "function",
        "z": "947c53d08c93935d",
        "name": "function 17",
        "func": "flow.set(\"dist_L1L2\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "2342eabaa8cf9fbf",
        "type": "ui_numeric",
        "z": "947c53d08c93935d",
        "name": "",
        "label": "Diafragma",
        "tooltip": "",
        "group": "69d766c4475badde",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "3",
        "step": 1,
        "x": 910,
        "y": 220,
        "wires": [
            [
                "0d040f95af8493a4"
            ]
        ]
    },
    {
        "id": "a0703f5a013f4fac",
        "type": "inject",
        "z": "947c53d08c93935d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 760,
        "wires": [
            [
                "7d1ad2eacf1d4aca"
            ]
        ]
    },
    {
        "id": "7d1ad2eacf1d4aca",
        "type": "function",
        "z": "947c53d08c93935d",
        "name": "function 18",
        "func": "// Deberá reemplazar dirección su cámara ip, su usuario y su clave.\n//msg.payload='http://ip_camara/videostream.cgi?user=usuario&pwd=clave';\nmsg.payload = 'http://192.168.1.12:4747/video'\nmsg.title = 'Camara1';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 760,
        "wires": [
            [
                "b9a6148fd8a8e3b4"
            ]
        ]
    },
    {
        "id": "b9a6148fd8a8e3b4",
        "type": "ui_template",
        "z": "947c53d08c93935d",
        "group": "6ca12bd8aeff9f61",
        "name": "",
        "order": 1,
        "width": 17,
        "height": 13,
        "format": "<style>\n    img {\n        border: 1px solid #ddd;\n        border-radius: 8px;\n        padding: 3px;\n    }\n</style>\n\n<img alt=\"\" title={{msg.title}} width=\"100%\" height=\"100%\" src=\"{{msg.payload}}\"/>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 700,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "d5e4f27d5151036d",
        "type": "ui_button",
        "z": "947c53d08c93935d",
        "name": "",
        "group": "1da480d9eb9773f1",
        "order": 3,
        "width": 4,
        "height": 1,
        "passthru": true,
        "label": "cam",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "camera",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 820,
        "wires": [
            [
                "7d1ad2eacf1d4aca"
            ]
        ]
    },
    {
        "id": "dc0905424c5f85c3",
        "type": "ui_ui_control",
        "z": "947c53d08c93935d",
        "name": "",
        "events": "all",
        "x": 420,
        "y": 980,
        "wires": [
            [
                "6c926aeddab9d80f"
            ]
        ]
    },
    {
        "id": "396de370624119b9",
        "type": "inject",
        "z": "947c53d08c93935d",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 650,
        "y": 220,
        "wires": [
            [
                "2342eabaa8cf9fbf"
            ]
        ]
    },
    {
        "id": "32aced693ca9d80d",
        "type": "inject",
        "z": "947c53d08c93935d",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "120",
        "payloadType": "num",
        "x": 650,
        "y": 300,
        "wires": [
            [
                "6d55f6146625971a",
                "cc94200e4e50ef33"
            ]
        ]
    },
    {
        "id": "0480a15d461c87d3",
        "type": "inject",
        "z": "947c53d08c93935d",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "70",
        "payloadType": "num",
        "x": 670,
        "y": 420,
        "wires": [
            [
                "90c2b517067312b3"
            ]
        ]
    },
    {
        "id": "5fa8e6d7c27aeab3",
        "type": "inject",
        "z": "947c53d08c93935d",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "70",
        "payloadType": "num",
        "x": 50,
        "y": 440,
        "wires": [
            [
                "877e1cccb4975722"
            ]
        ]
    },
    {
        "id": "b3fa317bd48cdbca",
        "type": "inject",
        "z": "947c53d08c93935d",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "20",
        "payloadType": "num",
        "x": 50,
        "y": 340,
        "wires": [
            [
                "206a33669903f949"
            ]
        ]
    },
    {
        "id": "53ec9df3f2cef086",
        "type": "inject",
        "z": "947c53d08c93935d",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "0",
        "payloadType": "num",
        "x": 50,
        "y": 240,
        "wires": [
            [
                "059369056ca71f6f"
            ]
        ]
    },
    {
        "id": "6c926aeddab9d80f",
        "type": "function",
        "z": "947c53d08c93935d",
        "name": "abrir esquema",
        "func": "// Deberá reemplazar dirección su cámara ip, su usuario y su clave.\n//msg.payload='http://ip_camara/videostream.cgi?user=usuario&pwd=clave';\nmsg.payload = 'https://raw.githubusercontent.com/RenzoVigiani/LabRem-Telecomunicaciones/main/Imagenes/wifi2-4GHz.png'\nmsg.title = 'Camara1';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "059369056ca71f6f",
        "type": "ui_numeric",
        "z": "947c53d08c93935d",
        "name": "",
        "label": "Diafragma",
        "tooltip": "",
        "group": "fba5dd2093002ecd",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "3",
        "step": 1,
        "x": 230,
        "y": 240,
        "wires": [
            [
                "efd13553b0aa5b2e"
            ]
        ]
    },
    {
        "id": "4bb92b037d1a0ca7",
        "type": "function",
        "z": "13bee6e068011382",
        "name": "variable_azimut",
        "func": "flow.set(\"azimut\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 200,
        "wires": [
            [
                "14c481a531b39210"
            ]
        ]
    },
    {
        "id": "2698bdf7b9dba519",
        "type": "ui_button",
        "z": "13bee6e068011382",
        "name": "",
        "group": "d828ae6182d713dd",
        "order": 3,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "POST",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-share",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 380,
        "wires": [
            [
                "9d46f815dcdbba21"
            ]
        ]
    },
    {
        "id": "9d46f815dcdbba21",
        "type": "function",
        "z": "13bee6e068011382",
        "name": "function 20",
        "func": "// @ts-nocheck\nlet azimut = flow.get(\"azimut\");\nlet elevation =flow.get(\"elevation\");\nlet iniciar = flow.get(\"iniciar\");\nmsg.payload = \"POST /HTTP/1.1 { \\\"Estado\\\": [2,true,\" + iniciar + \"],\\\"Analogico\\\": [\" + azimut + \",\" + elevation+\"]}\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 400,
        "wires": [
            [
                "c860518de3fa4831",
                "bdbbc14c55bd084b",
                "2bb3c595dac6d725"
            ]
        ]
    },
    {
        "id": "c860518de3fa4831",
        "type": "debug",
        "z": "13bee6e068011382",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 360,
        "wires": []
    },
    {
        "id": "e0ab9e9c72bdd633",
        "type": "function",
        "z": "13bee6e068011382",
        "name": "variable_elevation",
        "func": "flow.set(\"elevation\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 260,
        "wires": [
            [
                "2fe8cde865bac093"
            ]
        ]
    },
    {
        "id": "bdbbc14c55bd084b",
        "type": "ui_template",
        "z": "13bee6e068011382",
        "group": "544bd628b7ddfc1a",
        "name": "Envio",
        "order": 1,
        "width": 13,
        "height": 4,
        "format": "<ul>\n<h1> Envio: </h1>\n        {{msg.payload}}\n      \n</ul>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 770,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "7877763a0be4055b",
        "type": "function",
        "z": "13bee6e068011382",
        "name": "function 23",
        "func": "msg.payload =\"GET /HTTP/1.1\"\n//msg.payload = \"GET / HTTP/1.1\\r\\n\\r\\nHOST: www.google.com\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 500,
        "wires": [
            [
                "c860518de3fa4831",
                "bdbbc14c55bd084b",
                "2bb3c595dac6d725"
            ]
        ]
    },
    {
        "id": "f38ad0a54ec8a6a2",
        "type": "ui_button",
        "z": "13bee6e068011382",
        "name": "",
        "group": "d828ae6182d713dd",
        "order": 4,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "GET",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-reply",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 480,
        "wires": [
            [
                "7877763a0be4055b"
            ]
        ]
    },
    {
        "id": "2bb3c595dac6d725",
        "type": "tcp request",
        "z": "13bee6e068011382",
        "name": "",
        "server": "127.0.0.1",
        "port": "80",
        "out": "time",
        "ret": "buffer",
        "splitc": "1000",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 800,
        "y": 500,
        "wires": [
            [
                "6e9345b731f87a29"
            ]
        ]
    },
    {
        "id": "cd9d49e8c458829d",
        "type": "debug",
        "z": "13bee6e068011382",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 500,
        "wires": []
    },
    {
        "id": "6e9345b731f87a29",
        "type": "function",
        "z": "13bee6e068011382",
        "name": "function 24",
        "func": "msg.payload = msg.payload.toString('utf8');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 500,
        "wires": [
            [
                "cd9d49e8c458829d",
                "48bb9fa356c05d67"
            ]
        ]
    },
    {
        "id": "48bb9fa356c05d67",
        "type": "ui_template",
        "z": "13bee6e068011382",
        "group": "544bd628b7ddfc1a",
        "name": "Recibe",
        "order": 2,
        "width": 13,
        "height": 4,
        "format": "<ul>\n<h1> Recibe: </h1>\n       {{msg.payload}}\n      \n</ul>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 1220,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "4408a09f7da7a523",
        "type": "ui_ui_control",
        "z": "13bee6e068011382",
        "name": "",
        "events": "change",
        "x": 1160,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "df77753d5fb3167c",
        "type": "inject",
        "z": "13bee6e068011382",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 520,
        "wires": [
            [
                "7877763a0be4055b"
            ]
        ]
    },
    {
        "id": "116b085c2a4b7879",
        "type": "inject",
        "z": "13bee6e068011382",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 300,
        "y": 420,
        "wires": [
            [
                "9d46f815dcdbba21"
            ]
        ]
    },
    {
        "id": "1b992246c7554d67",
        "type": "function",
        "z": "13bee6e068011382",
        "name": "abrir camara",
        "func": "// Deberá reemplazar dirección su cámara ip, su usuario y su clave.\n//msg.payload='http://ip_camara/videostream.cgi?user=usuario&pwd=clave';\nmsg.payload = 'http://192.168.1.12:4747/video'\nmsg.title = 'Camara1';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 220,
        "wires": [
            [
                "b4dc737793a6eabb"
            ]
        ]
    },
    {
        "id": "b4dc737793a6eabb",
        "type": "ui_template",
        "z": "13bee6e068011382",
        "group": "692aca9c657c5110",
        "name": "",
        "order": 1,
        "width": 17,
        "height": 13,
        "format": "<style>\n    img {\n        border: 1px solid #ddd;\n        border-radius: 8px;\n        padding: 3px;\n    }\n</style>\n\n<img alt=\"IpCam\" title={{msg.title}} width=\"100%\" height=\"100%\" src=\"{{msg.payload}}\"/>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 1360,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "80311f0a7546bff3",
        "type": "ui_button",
        "z": "13bee6e068011382",
        "name": "",
        "group": "d129e0a0dad3a8d1",
        "order": 2,
        "width": 7,
        "height": 1,
        "passthru": false,
        "label": "Cámara",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "camera",
        "payload": "{\"group\":{\"show\":[\"Telecomunicaciones_Tipo de laboratorio\",\"Telecomunicaciones_Parámetros\",\"Telecomunicaciones_Panel de control\",\"Telecomunicaciones_Visualización\",\"Telecomunicaciones_Camara\"],\"hide\":[\"Telecomunicaciones_Esquema\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 960,
        "y": 180,
        "wires": [
            [
                "1b992246c7554d67",
                "4408a09f7da7a523"
            ]
        ]
    },
    {
        "id": "71b0ee9be7570e95",
        "type": "ui_slider",
        "z": "13bee6e068011382",
        "name": "",
        "label": "Azimut",
        "tooltip": "Angulo Azimut",
        "group": "d828ae6182d713dd",
        "order": 1,
        "width": 6,
        "height": 2,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "180",
        "step": 1,
        "x": 290,
        "y": 200,
        "wires": [
            [
                "4bb92b037d1a0ca7"
            ]
        ]
    },
    {
        "id": "4a59bc5bb4d222f8",
        "type": "ui_slider",
        "z": "13bee6e068011382",
        "name": "",
        "label": "Elevation",
        "tooltip": "Angulo Elevation",
        "group": "d828ae6182d713dd",
        "order": 5,
        "width": 6,
        "height": 2,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "90",
        "step": 1,
        "x": 280,
        "y": 260,
        "wires": [
            [
                "e0ab9e9c72bdd633"
            ]
        ]
    },
    {
        "id": "bc931e66b6aec0fc",
        "type": "ui_button",
        "z": "13bee6e068011382",
        "name": "",
        "group": "d129e0a0dad3a8d1",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "label": "Esquema",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "poll",
        "payload": "{\"group\":{\"show\":[\"Telecomunicaciones_Tipo de laboratorio\",\"Telecomunicaciones_Parámetros\",\"Telecomunicaciones_Panel de control\",\"Telecomunicaciones_Visualización\",\"Telecomunicaciones_Esquema\"],\"hide\":[\"Telecomunicaciones_Camara\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 960,
        "y": 100,
        "wires": [
            [
                "4408a09f7da7a523",
                "8f0c97ce9cfed99a"
            ]
        ]
    },
    {
        "id": "314f45cdfdf206f9",
        "type": "function",
        "z": "13bee6e068011382",
        "name": "variable_iniciar",
        "func": "flow.set(\"iniciar\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "3e182fbf34bd652c",
        "type": "ui_switch",
        "z": "13bee6e068011382",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "6e1ba2a8a3b06598",
        "order": 3,
        "width": 6,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "Cámara",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "Esquema",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 290,
        "y": 140,
        "wires": [
            [
                "feedc508afec4e53"
            ]
        ]
    },
    {
        "id": "14c481a531b39210",
        "type": "ui_gauge",
        "z": "13bee6e068011382",
        "name": "valor_azimut",
        "group": "d828ae6182d713dd",
        "order": 2,
        "width": 2,
        "height": 2,
        "gtype": "gage",
        "title": "",
        "label": "deg",
        "format": "{{value}}",
        "min": 0,
        "max": "180",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 730,
        "y": 200,
        "wires": []
    },
    {
        "id": "2fe8cde865bac093",
        "type": "ui_gauge",
        "z": "13bee6e068011382",
        "name": "valor_elevation",
        "group": "d828ae6182d713dd",
        "order": 6,
        "width": 2,
        "height": 2,
        "gtype": "gage",
        "title": "",
        "label": "deg",
        "format": "{{value}}",
        "min": 0,
        "max": "180",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "90",
        "x": 720,
        "y": 260,
        "wires": []
    },
    {
        "id": "8f0c97ce9cfed99a",
        "type": "function",
        "z": "13bee6e068011382",
        "name": "abrir esquema",
        "func": "// Deberá reemplazar dirección su cámara ip, su usuario y su clave.\n//msg.payload='http://ip_camara/videostream.cgi?user=usuario&pwd=clave';\nmsg.payload = 'https://raw.githubusercontent.com/RenzoVigiani/LabRem-Telecomunicaciones/main/Imagenes/wifi2-4GHz.png'\nmsg.title = 'Camara1';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 40,
        "wires": [
            [
                "b9b6f5853e754e88"
            ]
        ]
    },
    {
        "id": "b9b6f5853e754e88",
        "type": "ui_template",
        "z": "13bee6e068011382",
        "group": "f5dc0d469bcfeca8",
        "name": "",
        "order": 1,
        "width": 17,
        "height": 13,
        "format": "<style>\n    img {\n        border: 1px solid #ddd;\n        border-radius: 8px;\n        padding: 3px;\n    }\n</style>\n\n<img alt=\"IpCam\" title={{msg.title}} width=\"100%\" height=\"100%\" src=\"{{msg.payload}}\"/>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 1360,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "feedc508afec4e53",
        "type": "ui_text",
        "z": "13bee6e068011382",
        "group": "6e1ba2a8a3b06598",
        "order": 1,
        "width": 7,
        "height": 1,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 550,
        "y": 140,
        "wires": []
    },
    {
        "id": "22bbe1b8667367e7",
        "type": "ui_button",
        "z": "13bee6e068011382",
        "name": "",
        "group": "d828ae6182d713dd",
        "order": 7,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "INICIAR",
        "tooltip": "",
        "color": "white",
        "bgcolor": "green",
        "icon": "check",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 320,
        "y": 600,
        "wires": [
            [
                "314f45cdfdf206f9"
            ]
        ]
    },
    {
        "id": "e9c150418e19b4dd",
        "type": "ui_button",
        "z": "13bee6e068011382",
        "name": "",
        "group": "d828ae6182d713dd",
        "order": 8,
        "width": 5,
        "height": 1,
        "passthru": false,
        "label": "FINALIZAR",
        "tooltip": "",
        "color": "white",
        "bgcolor": "#990000",
        "icon": "close",
        "payload": "false",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 330,
        "y": 680,
        "wires": [
            [
                "314f45cdfdf206f9"
            ]
        ]
    },
    {
        "id": "fbd57c411897d0e2",
        "type": "inject",
        "z": "13bee6e068011382",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0.5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 970,
        "y": 20,
        "wires": [
            [
                "8f0c97ce9cfed99a"
            ]
        ]
    },
    {
        "id": "82890ac3eada61c7",
        "type": "inject",
        "z": "13bee6e068011382",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "false",
                "vt": "bool"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 760,
        "wires": [
            [
                "314f45cdfdf206f9"
            ]
        ]
    },
    {
        "id": "f96f68d8808bc825",
        "type": "inject",
        "z": "13bee6e068011382",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "v": "0",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 320,
        "wires": [
            [
                "e0ab9e9c72bdd633",
                "4bb92b037d1a0ca7"
            ]
        ]
    }
]