Lab-rem-Fisica.json
[
    {
        "id": "947c53d08c93935d",
        "type": "tab",
        "label": "Física",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "13bee6e068011382",
        "type": "tab",
        "label": "Telecom",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9566b74c0c9caab7",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "69aa42b2975b9129",
        "type": "ui_spacer",
        "z": "947c53d08c93935d",
        "name": "spacer",
        "group": "1da480d9eb9773f1",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "fba5dd2093002ecd",
        "type": "ui_group",
        "name": "Parametros-con",
        "tab": "ce0f2688aa38dc08",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a8693af1ed732ccd",
        "type": "ui_group",
        "name": "Funciones",
        "tab": "ce0f2688aa38dc08",
        "order": 7,
        "disp": false,
        "width": "6",
        "collapse": false
    },
    {
        "id": "c83e16537c45f368",
        "type": "ui_group",
        "name": "Consola",
        "tab": "ce0f2688aa38dc08",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a4c87799322f977e",
        "type": "ui_group",
        "name": "Convergente",
        "tab": "ce0f2688aa38dc08",
        "order": 6,
        "disp": true,
        "width": "16",
        "collapse": false
    },
    {
        "id": "448272e145e46a81",
        "type": "ui_group",
        "name": "Divergente",
        "tab": "ce0f2688aa38dc08",
        "order": 5,
        "disp": true,
        "width": "16",
        "collapse": false
    },
    {
        "id": "1da480d9eb9773f1",
        "type": "ui_group",
        "name": "Mode",
        "tab": "ce0f2688aa38dc08",
        "order": 1,
        "disp": false,
        "width": "27",
        "collapse": false
    },
    {
        "id": "69d766c4475badde",
        "type": "ui_group",
        "name": "Parametros-div",
        "tab": "ce0f2688aa38dc08",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "ce0f2688aa38dc08",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6ca12bd8aeff9f61",
        "type": "ui_group",
        "name": "Camara",
        "tab": "ce0f2688aa38dc08",
        "order": 8,
        "disp": true,
        "width": "24",
        "collapse": false
    },
    {
        "id": "061b2edb7c43c818",
        "type": "ui_spacer",
        "z": "947c53d08c93935d",
        "name": "spacer",
        "group": "a8693af1ed732ccd",
        "order": 8,
        "width": "6",
        "height": "1"
    },
    {
        "id": "b3dfc2cf16054485",
        "type": "ui_spacer",
        "z": "947c53d08c93935d",
        "name": "spacer",
        "group": "a8693af1ed732ccd",
        "order": 8,
        "width": "6",
        "height": "1"
    },
    {
        "id": "78b32a0c459040a2",
        "type": "ui_tab",
        "name": "Telecomunicaciones",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6e1ba2a8a3b06598",
        "type": "ui_group",
        "name": "Tipo de laboratorio",
        "tab": "78b32a0c459040a2",
        "order": 1,
        "disp": true,
        "width": 30,
        "collapse": false
    },
    {
        "id": "d129e0a0dad3a8d1",
        "type": "ui_group",
        "name": "Visualización",
        "tab": "78b32a0c459040a2",
        "order": 4,
        "disp": true,
        "width": 14,
        "collapse": false
    },
    {
        "id": "d828ae6182d713dd",
        "type": "ui_group",
        "name": "Parámetros",
        "tab": "78b32a0c459040a2",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": false
    },
    {
        "id": "544bd628b7ddfc1a",
        "type": "ui_group",
        "name": "Panel de control",
        "tab": "78b32a0c459040a2",
        "order": 2,
        "disp": true,
        "width": 8,
        "collapse": false
    },
    {
        "id": "c88fdb6ee557eb72",
        "type": "ui_spacer",
        "z": "13bee6e068011382",
        "name": "spacer",
        "group": "d129e0a0dad3a8d1",
        "order": 3,
        "width": 8,
        "height": 1
    },
    {
        "id": "059369056ca71f6f",
        "type": "ui_numeric",
        "z": "947c53d08c93935d",
        "name": "",
        "label": "Diafragma",
        "tooltip": "",
        "group": "fba5dd2093002ecd",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "3",
        "step": 1,
        "x": 210,
        "y": 300,
        "wires": [
            [
                "efd13553b0aa5b2e"
            ]
        ]
    },
    {
        "id": "efd13553b0aa5b2e",
        "type": "function",
        "z": "947c53d08c93935d",
        "name": "function 8",
        "func": "flow.set(\"diafragma\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "a88de484545e2925",
        "type": "ui_button",
        "z": "947c53d08c93935d",
        "name": "",
        "group": "a8693af1ed732ccd",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "POST",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 540,
        "wires": [
            [
                "603d6db56b960faf"
            ]
        ]
    },
    {
        "id": "603d6db56b960faf",
        "type": "function",
        "z": "947c53d08c93935d",
        "name": "function 9",
        "func": "let diafragma = flow.get(\"diafragma\");\nlet dist_FL1 =flow.get(\"dist_FL1\");\nlet dist_L2P = flow.get(\"dist_L2P\");\nlet dist_L1L2 = flow.get(\"dist_L1L2\");\nmsg.payload = \"POST /HTTP/1.1 { \\\"Estado\\\": [3,true,true],\\\"Analogico\\\": [\" + diafragma + \",\" + dist_FL1 + \",\" + dist_L2P + \"]} \"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 560,
        "wires": [
            [
                "0f6fb69baec06325",
                "b280855b7e4a2022",
                "8c5ab0ed98e9a674"
            ]
        ]
    },
    {
        "id": "0f6fb69baec06325",
        "type": "debug",
        "z": "947c53d08c93935d",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 560,
        "wires": []
    },
    {
        "id": "206a33669903f949",
        "type": "ui_numeric",
        "z": "947c53d08c93935d",
        "name": "",
        "label": "Fuente-Lente",
        "tooltip": "",
        "group": "fba5dd2093002ecd",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "20",
        "max": "978",
        "step": "5",
        "x": 210,
        "y": 360,
        "wires": [
            [
                "f20a68dde747ea0e"
            ]
        ]
    },
    {
        "id": "877e1cccb4975722",
        "type": "ui_numeric",
        "z": "947c53d08c93935d",
        "name": "",
        "label": "Lente-Pantalla",
        "tooltip": "",
        "group": "fba5dd2093002ecd",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "70",
        "max": "970",
        "step": "5",
        "x": 220,
        "y": 420,
        "wires": [
            [
                "6927ba3c37b4e011"
            ]
        ]
    },
    {
        "id": "f20a68dde747ea0e",
        "type": "function",
        "z": "947c53d08c93935d",
        "name": "function 10",
        "func": "flow.set(\"dist_FL1\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "6927ba3c37b4e011",
        "type": "function",
        "z": "947c53d08c93935d",
        "name": "function 11",
        "func": "flow.set(\"dist_L2P\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "b280855b7e4a2022",
        "type": "ui_template",
        "z": "947c53d08c93935d",
        "group": "c83e16537c45f368",
        "name": "Envio",
        "order": 1,
        "width": 6,
        "height": "3",
        "format": "<ul>\n<h1> Envio: </h1>\n        <li>{{msg.payload}}</li>\n      \n</ul>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 750,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "7c2b696908a4bad6",
        "type": "function",
        "z": "947c53d08c93935d",
        "name": "function 12",
        "func": "msg.payload =\"GET /HTTP/1.1\"\n//msg.payload = \"GET / HTTP/1.1\\r\\n\\r\\nHOST: www.google.com\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 660,
        "wires": [
            [
                "0f6fb69baec06325",
                "b280855b7e4a2022",
                "8c5ab0ed98e9a674"
            ]
        ]
    },
    {
        "id": "9e42624c3b6133b5",
        "type": "ui_button",
        "z": "947c53d08c93935d",
        "name": "",
        "group": "a8693af1ed732ccd",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "GET",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 640,
        "wires": [
            [
                "7c2b696908a4bad6"
            ]
        ]
    },
    {
        "id": "8c5ab0ed98e9a674",
        "type": "tcp request",
        "z": "947c53d08c93935d",
        "name": "",
        "server": "127.0.0.1",
        "port": "80",
        "out": "time",
        "ret": "buffer",
        "splitc": "1000",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 780,
        "y": 660,
        "wires": [
            [
                "9fa8541705b2378e"
            ]
        ]
    },
    {
        "id": "b19a6bb30dcbaeae",
        "type": "debug",
        "z": "947c53d08c93935d",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 660,
        "wires": []
    },
    {
        "id": "9fa8541705b2378e",
        "type": "function",
        "z": "947c53d08c93935d",
        "name": "function 13",
        "func": "msg.payload = msg.payload.toString('utf8');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 660,
        "wires": [
            [
                "b19a6bb30dcbaeae",
                "75acf3a9c96254f9"
            ]
        ]
    },
    {
        "id": "75acf3a9c96254f9",
        "type": "ui_template",
        "z": "947c53d08c93935d",
        "group": "c83e16537c45f368",
        "name": "Recibe",
        "order": 2,
        "width": 6,
        "height": 4,
        "format": "<ul>\n<h1> Recibe: </h1>\n        <li>{{msg.payload}}</li>\n      \n</ul>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 1200,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "235c43f3078fa830",
        "type": "ui_button",
        "z": "947c53d08c93935d",
        "name": "",
        "group": "1da480d9eb9773f1",
        "order": 1,
        "width": "13",
        "height": 1,
        "passthru": false,
        "label": "Convergente",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"group\":{\"show\":[\"Home_Mode\",\"Home_Funciones\",\"Home_Parametros-con\",\"Home_Consola\",\"Home_Convergente\",\"Home_Camara\"],\"hide\":[\"Home_Divergente\",\"Home_Parametros-div\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 960,
        "wires": [
            [
                "dc0905424c5f85c3"
            ]
        ]
    },
    {
        "id": "8c2a4d11eb1bab53",
        "type": "ui_button",
        "z": "947c53d08c93935d",
        "name": "",
        "group": "1da480d9eb9773f1",
        "order": 3,
        "width": "13",
        "height": 1,
        "passthru": false,
        "label": "Divergente",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"group\":{\"show\":[\"Home_Mode\",\"Home_Funciones\",\"Home_Parametros-div\",\"Home_Consola\",\"Home_Divergente\",\"Home_Camara\"],\"hide\":[\"Home_Convergente\",\"Home_Parametros-con\"]}}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 210,
        "y": 1000,
        "wires": [
            [
                "dc0905424c5f85c3"
            ]
        ]
    },
    {
        "id": "4202cf58e4a226ac",
        "type": "inject",
        "z": "947c53d08c93935d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 680,
        "wires": [
            [
                "7c2b696908a4bad6"
            ]
        ]
    },
    {
        "id": "9c930a031501570f",
        "type": "inject",
        "z": "947c53d08c93935d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 580,
        "wires": [
            [
                "603d6db56b960faf"
            ]
        ]
    },
    {
        "id": "0d040f95af8493a4",
        "type": "function",
        "z": "947c53d08c93935d",
        "name": "function 14",
        "func": "flow.set(\"diafragma\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "6d55f6146625971a",
        "type": "ui_numeric",
        "z": "947c53d08c93935d",
        "name": "",
        "label": "Fuente - Lente 1",
        "tooltip": "",
        "group": "69d766c4475badde",
        "order": 2,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "120",
        "max": "970",
        "step": "5",
        "x": 700,
        "y": 360,
        "wires": [
            [
                "e29df26c29eda16c"
            ]
        ]
    },
    {
        "id": "90c2b517067312b3",
        "type": "ui_numeric",
        "z": "947c53d08c93935d",
        "name": "",
        "label": "Lente 2 - Pantalla",
        "tooltip": "",
        "group": "69d766c4475badde",
        "order": 3,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "70",
        "max": "970",
        "step": "5",
        "x": 750,
        "y": 460,
        "wires": [
            [
                "3be4323950da21b8"
            ]
        ]
    },
    {
        "id": "e29df26c29eda16c",
        "type": "function",
        "z": "947c53d08c93935d",
        "name": "function 15",
        "func": "flow.set(\"dist_FL1\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "3be4323950da21b8",
        "type": "function",
        "z": "947c53d08c93935d",
        "name": "function 16",
        "func": "flow.set(\"dist_L2P\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "cc94200e4e50ef33",
        "type": "ui_numeric",
        "z": "947c53d08c93935d",
        "name": "",
        "label": "Lente 1 - Lente 2",
        "tooltip": "",
        "group": "69d766c4475badde",
        "order": 4,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": "120",
        "max": "970",
        "step": "5",
        "x": 750.0000171661377,
        "y": 406.0000009536743,
        "wires": [
            [
                "c16e541a867f46ad"
            ]
        ]
    },
    {
        "id": "c16e541a867f46ad",
        "type": "function",
        "z": "947c53d08c93935d",
        "name": "function 17",
        "func": "flow.set(\"dist_L1L2\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 964.0000152587891,
        "y": 406.00000190734863,
        "wires": [
            []
        ]
    },
    {
        "id": "2342eabaa8cf9fbf",
        "type": "ui_numeric",
        "z": "947c53d08c93935d",
        "name": "",
        "label": "Diafragma",
        "tooltip": "",
        "group": "69d766c4475badde",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": true,
        "topic": "topic",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "3",
        "step": 1,
        "x": 730,
        "y": 300,
        "wires": [
            [
                "0d040f95af8493a4"
            ]
        ]
    },
    {
        "id": "a0703f5a013f4fac",
        "type": "inject",
        "z": "947c53d08c93935d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 760,
        "wires": [
            [
                "7d1ad2eacf1d4aca"
            ]
        ]
    },
    {
        "id": "7d1ad2eacf1d4aca",
        "type": "function",
        "z": "947c53d08c93935d",
        "name": "function 18",
        "func": "// Deberá reemplazar dirección su cámara ip, su usuario y su clave.\n//msg.payload='http://ip_camara/videostream.cgi?user=usuario&pwd=clave';\nmsg.payload = 'http://192.168.100.2:4747/video'\nmsg.title = 'Camara1';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 760,
        "wires": [
            [
                "b9a6148fd8a8e3b4"
            ]
        ]
    },
    {
        "id": "b9a6148fd8a8e3b4",
        "type": "ui_template",
        "z": "947c53d08c93935d",
        "group": "6ca12bd8aeff9f61",
        "name": "",
        "order": 0,
        "width": "24",
        "height": "18",
        "format": "<style>\n    img {\n        border: 1px solid #ddd;\n        border-radius: 8px;\n        padding: 3px;\n        box-shadow: 0 5px 25px #2EE06E\n    }\n</style>\n\n<img alt=\"\" title={{msg.title}} width=\"100%\" height=\"100%\" src=\"{{msg.payload}}\"/>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 700,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "d5e4f27d5151036d",
        "type": "ui_button",
        "z": "947c53d08c93935d",
        "name": "",
        "group": "6ca12bd8aeff9f61",
        "order": 1,
        "width": "4",
        "height": "1",
        "passthru": true,
        "label": "cam",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 820,
        "wires": [
            [
                "7d1ad2eacf1d4aca"
            ]
        ]
    },
    {
        "id": "dc0905424c5f85c3",
        "type": "ui_ui_control",
        "z": "947c53d08c93935d",
        "name": "",
        "events": "all",
        "x": 420,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "4bb92b037d1a0ca7",
        "type": "function",
        "z": "13bee6e068011382",
        "name": "variable_azimut",
        "func": "flow.set(\"azimut\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 60,
        "wires": [
            [
                "f5541538ea63a1eb",
                "14c481a531b39210"
            ]
        ]
    },
    {
        "id": "2698bdf7b9dba519",
        "type": "ui_button",
        "z": "13bee6e068011382",
        "name": "",
        "group": "544bd628b7ddfc1a",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "POST",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "check",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 310,
        "y": 320,
        "wires": [
            [
                "9d46f815dcdbba21"
            ]
        ]
    },
    {
        "id": "9d46f815dcdbba21",
        "type": "function",
        "z": "13bee6e068011382",
        "name": "function 20",
        "func": "// @ts-nocheck\nlet azimut = flow.get(\"azimut\");\nlet elevation =flow.get(\"elevation\");\nlet iniciar = flow.get(\"iniciar\");\nmsg.payload = \"POST /HTTP/1.1 { \\\"Estado\\\": [2,true,\" + iniciar + \"],\\\"Analogico\\\": [\" + azimut + \",\" + elevation+\"]}\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 340,
        "wires": [
            [
                "c860518de3fa4831",
                "bdbbc14c55bd084b",
                "2bb3c595dac6d725"
            ]
        ]
    },
    {
        "id": "c860518de3fa4831",
        "type": "debug",
        "z": "13bee6e068011382",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 300,
        "wires": []
    },
    {
        "id": "e0ab9e9c72bdd633",
        "type": "function",
        "z": "13bee6e068011382",
        "name": "variable_elevation",
        "func": "flow.set(\"elevation\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 160,
        "wires": [
            [
                "7698a14c8db0a2fc"
            ]
        ]
    },
    {
        "id": "bdbbc14c55bd084b",
        "type": "ui_template",
        "z": "13bee6e068011382",
        "group": "544bd628b7ddfc1a",
        "name": "Envio",
        "order": 1,
        "width": 8,
        "height": 3,
        "format": "<ul>\n<h1> Envio: </h1>\n        {{msg.payload}}\n      \n</ul>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 790,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "7877763a0be4055b",
        "type": "function",
        "z": "13bee6e068011382",
        "name": "function 23",
        "func": "msg.payload =\"GET /HTTP/1.1\"\n//msg.payload = \"GET / HTTP/1.1\\r\\n\\r\\nHOST: www.google.com\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 440,
        "wires": [
            [
                "c860518de3fa4831",
                "bdbbc14c55bd084b",
                "2bb3c595dac6d725"
            ]
        ]
    },
    {
        "id": "f38ad0a54ec8a6a2",
        "type": "ui_button",
        "z": "13bee6e068011382",
        "name": "",
        "group": "544bd628b7ddfc1a",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "GET",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "reply",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 310,
        "y": 420,
        "wires": [
            [
                "7877763a0be4055b"
            ]
        ]
    },
    {
        "id": "2bb3c595dac6d725",
        "type": "tcp request",
        "z": "13bee6e068011382",
        "name": "",
        "server": "127.0.0.1",
        "port": "80",
        "out": "time",
        "ret": "buffer",
        "splitc": "1000",
        "newline": "",
        "trim": false,
        "tls": "",
        "x": 820,
        "y": 440,
        "wires": [
            [
                "6e9345b731f87a29"
            ]
        ]
    },
    {
        "id": "cd9d49e8c458829d",
        "type": "debug",
        "z": "13bee6e068011382",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 440,
        "wires": []
    },
    {
        "id": "6e9345b731f87a29",
        "type": "function",
        "z": "13bee6e068011382",
        "name": "function 24",
        "func": "msg.payload = msg.payload.toString('utf8');\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 440,
        "wires": [
            [
                "cd9d49e8c458829d",
                "48bb9fa356c05d67"
            ]
        ]
    },
    {
        "id": "48bb9fa356c05d67",
        "type": "ui_template",
        "z": "13bee6e068011382",
        "group": "544bd628b7ddfc1a",
        "name": "Recibe",
        "order": 2,
        "width": 8,
        "height": 3,
        "format": "<ul>\n<h1> Recibe: </h1>\n       {{msg.payload}}\n      \n</ul>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 1240,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "4408a09f7da7a523",
        "type": "ui_ui_control",
        "z": "13bee6e068011382",
        "name": "",
        "events": "all",
        "x": 620,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "df77753d5fb3167c",
        "type": "inject",
        "z": "13bee6e068011382",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 460,
        "wires": [
            [
                "7877763a0be4055b"
            ]
        ]
    },
    {
        "id": "116b085c2a4b7879",
        "type": "inject",
        "z": "13bee6e068011382",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 360,
        "wires": [
            [
                "9d46f815dcdbba21"
            ]
        ]
    },
    {
        "id": "40fb945095906877",
        "type": "inject",
        "z": "13bee6e068011382",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 320,
        "y": 540,
        "wires": [
            [
                "1b992246c7554d67"
            ]
        ]
    },
    {
        "id": "1b992246c7554d67",
        "type": "function",
        "z": "13bee6e068011382",
        "name": "abrir camara",
        "func": "// Deberá reemplazar dirección su cámara ip, su usuario y su clave.\n//msg.payload='http://ip_camara/videostream.cgi?user=usuario&pwd=clave';\nmsg.payload = 'http://192.168.100.2:4747/video'\nmsg.title = 'Camara1';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 540,
        "wires": [
            [
                "b4dc737793a6eabb"
            ]
        ]
    },
    {
        "id": "b4dc737793a6eabb",
        "type": "ui_template",
        "z": "13bee6e068011382",
        "group": "d129e0a0dad3a8d1",
        "name": "",
        "order": 5,
        "width": 14,
        "height": 7,
        "format": "<style>\n    img {\n        border: 1px solid #ddd;\n        border-radius: 8px;\n        padding: 3px;\n    }\n</style>\n\n<img alt=\"IpCam\" title={{msg.title}} width=\"100%\" height=\"100%\" src=\"{{msg.payload}}\"/>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "x": 740,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "80311f0a7546bff3",
        "type": "ui_button",
        "z": "13bee6e068011382",
        "name": "",
        "group": "d129e0a0dad3a8d1",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "Cámara",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 320,
        "y": 600,
        "wires": [
            [
                "1b992246c7554d67",
                "4408a09f7da7a523"
            ]
        ]
    },
    {
        "id": "f5541538ea63a1eb",
        "type": "ui_text",
        "z": "13bee6e068011382",
        "group": "d828ae6182d713dd",
        "order": 5,
        "width": 2,
        "height": 1,
        "name": "valor_azimut",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 790,
        "y": 60,
        "wires": []
    },
    {
        "id": "71b0ee9be7570e95",
        "type": "ui_slider",
        "z": "13bee6e068011382",
        "name": "",
        "label": "Azimut",
        "tooltip": "Angulo Azimut",
        "group": "d828ae6182d713dd",
        "order": 4,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "180",
        "step": 1,
        "x": 310,
        "y": 60,
        "wires": [
            [
                "4bb92b037d1a0ca7"
            ]
        ]
    },
    {
        "id": "7698a14c8db0a2fc",
        "type": "ui_text",
        "z": "13bee6e068011382",
        "group": "d828ae6182d713dd",
        "order": 2,
        "width": 2,
        "height": 1,
        "name": "valor_elevation",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 800,
        "y": 160,
        "wires": []
    },
    {
        "id": "4a59bc5bb4d222f8",
        "type": "ui_slider",
        "z": "13bee6e068011382",
        "name": "",
        "label": "Elevation",
        "tooltip": "Angulo Elevation",
        "group": "d828ae6182d713dd",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "90",
        "step": 1,
        "x": 320,
        "y": 160,
        "wires": [
            [
                "e0ab9e9c72bdd633"
            ]
        ]
    },
    {
        "id": "bc931e66b6aec0fc",
        "type": "ui_button",
        "z": "13bee6e068011382",
        "name": "",
        "group": "d129e0a0dad3a8d1",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": true,
        "label": "Esquema",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 320,
        "y": 700,
        "wires": [
            [
                "4408a09f7da7a523",
                "a1af730cb71c4dd0"
            ]
        ]
    },
    {
        "id": "a1af730cb71c4dd0",
        "type": "ui_media",
        "z": "13bee6e068011382",
        "group": "d129e0a0dad3a8d1",
        "name": "",
        "width": 0,
        "height": 0,
        "order": 4,
        "category": "",
        "file": "",
        "layout": "adjust",
        "showcontrols": true,
        "loop": true,
        "onstart": false,
        "scope": "local",
        "tooltip": "",
        "x": 570,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "b43325c47a1d2cd7",
        "type": "ui_button",
        "z": "13bee6e068011382",
        "name": "",
        "group": "544bd628b7ddfc1a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Iniciar",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "true",
        "payloadType": "bool",
        "topic": "topic",
        "topicType": "msg",
        "x": 310,
        "y": 240,
        "wires": [
            [
                "314f45cdfdf206f9"
            ]
        ]
    },
    {
        "id": "314f45cdfdf206f9",
        "type": "function",
        "z": "13bee6e068011382",
        "name": "variable_iniciar",
        "func": "flow.set(\"iniciar\", msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "3e182fbf34bd652c",
        "type": "ui_switch",
        "z": "13bee6e068011382",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "6e1ba2a8a3b06598",
        "order": 2,
        "width": "3",
        "height": "1",
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 1090,
        "y": 160,
        "wires": [
            [
                "6b9f6f1fa4a8a6cc"
            ]
        ]
    },
    {
        "id": "6b9f6f1fa4a8a6cc",
        "type": "ui_ui_control",
        "z": "13bee6e068011382",
        "name": "",
        "events": "all",
        "x": 1260,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "e1459473caf4d83d",
        "type": "ui_text",
        "z": "13bee6e068011382",
        "group": "6e1ba2a8a3b06598",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Enlace Wifi 2.4 GHz",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1480,
        "y": 160,
        "wires": []
    },
    {
        "id": "bce84fb1cec1b01d",
        "type": "ui_text",
        "z": "13bee6e068011382",
        "group": "6e1ba2a8a3b06598",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Enlace Radio por soft",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 1480,
        "y": 240,
        "wires": []
    },
    {
        "id": "14c481a531b39210",
        "type": "ui_gauge",
        "z": "13bee6e068011382",
        "name": "",
        "group": "d828ae6182d713dd",
        "order": 3,
        "width": "2",
        "height": "2",
        "gtype": "gage",
        "title": "gauge",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 790,
        "y": 100,
        "wires": []
    }
]